.full-page-wrap {
  width: 100%;
  background-image: url(../img/background1.png);
  background-repeat: round;
}

.full-page {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 1366px;

  padding-top: 46px;
  padding-bottom: 15px;
  font-family: "Roboto", sans-serif;
}

.header {
  width: 1028px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 17px;
}

.logo-link {
  display: flex;
  width: 180px;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  position: relative;
  left: -71px;

}

.logo-link:hover .logo-title {
  color: #f26522;
  transition: all 0.5s;
}

.first-img {
  opacity: 0;
  position: relative;
  left: 63px;
  top: -2.5px;
}

.logo-link:hover .first-img {
  opacity: 1;
  transition: all 0.5s;
}

.logo-link:hover .second-img {
  opacity: 0;
  transition: all 0.5s;
}

.logo-title-wrap {
  width: 90px;
  padding-left: 8px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.logo-title {
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;

  color: #ffffff;
}

.small {
  font-size: 18px;
  line-height: 18px;
  padding-top: 2px;
}

.info {
  width: 219px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: relative;
}

.contacts-wrap-1 {
  padding-bottom: 19px;
}

.contacts {
  font-size: 18px;
  line-height: 18px;

  color: #ffffff;
  text-decoration: none;
}

.contacts:hover {
  color: #f26522;
  transition: all 0.5s;
}

.activities-flex {
  width: 1030px;
  height: 560px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 48px;
}

.link-activity {
  text-decoration: none;
}

.activities {
  width: 309px;
  height: 261px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 38px;
}

.activities:nth-of-type(n + 4) {
  margin-bottom: 0px;
}

.photo-wrap {
  width: 300px;
  height: 220px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-image: linear-gradient(
    rgb(255, 255, 255),
    rgba(43, 43, 43, 0.959),
    rgb(0, 0, 0),
    rgba(0, 0, 0, 0)
  );
  border-image-slice: 1;
}

.activity-name {
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}

.activities:hover .activity-name {
  color: #f26522;
  transition: all 0.5s;
}

.copyright {
  width: 1028px;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  text-align: center;
}

.price {
  opacity: 0;
  position: relative;
  top: 1px;
  box-sizing: border-box;
  width: 300px;
  background: #f26522;
  display: flex;
  flex-wrap: wrap;
  padding: 7px 37px 12px 16px;
}

.other {
  top: -7px;
}

.activities:hover .price {
  opacity: 1;
  transform: translate(0, -59px);
  transition: all 0.5s ease-out;
}

.from {
  font-size: 10px;
  line-height: 10px;

  color: #ffffff;
  text-align: left;
  padding-bottom: 8px;
}

.price-text-wrap {
  width: 290px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-text {
  color: #ffffff;
}

.first {
  font-size: 20px;
  line-height: 20px;
}

.second {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}

.second::after {
  content: url("../img/Vector.1.png");
  position: relative;
  left: 16px;
  top: 1px;
}
